<div>
  <div class="profile">
    <div class="profile-section">
      <img class="img-profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6GfaS_99vn2iGc4BtGtoOw9SkVYoenwFcgg&usqp=CAU" alt="">
      <div class="biodata">
        <div class="username">
          Username
        </div>
        <div class="latin">
          Latin name
        </div>
  
        <div class="chinese">
          Chinese name
        </div>
      </div>
    </div>

    <div class="settings">
      <ul>
        <li matRipple>Change Password</li>
        <li matRipple>Change Pin</li>
        <li matRipple>Logout</li>
      </ul>
    </div>
  </div>
</div>