<div class="wrapper">
  <div class="profile" [ngStyle]="{
    background: color,
    color: text 
  }">
    <img class="img-profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6GfaS_99vn2iGc4BtGtoOw9SkVYoenwFcgg&usqp=CAU" alt="">
    <div class="biodata">
      <div [ngStyle]="{ color: text }" class="username">
        {{user.username}}
      </div>
      <div [ngStyle]="{ color: text }" class="latin">
        {{ user.latin_name }} ({{ user.chinese_name }})
      </div>

      <div [ngStyle]="{ color: text }" class="latin">
        {{ user.no_anggota }}
      </div>
      <mat-select class="theme" [ngStyle]="{ color: text }" (selectionChange)="onSelectTheme($event)" placeholder="Pick a theme" [(ngModel)]="theme">
        <mat-option *ngFor="let value of themes" [value]="value.id">
          {{value.name | titlecase}}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="calendar">
    <mat-card>
      <mat-calendar></mat-calendar>
    </mat-card>
  </div>

  <div class="banner">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of dynamicSlides; let i = index">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>