<div class="wrapper">
  <div class="profile" [ngStyle]="{
    background: color || '#FFF',
    color: text || '#CCC' 
  }">
    <img class="img-profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6GfaS_99vn2iGc4BtGtoOw9SkVYoenwFcgg&usqp=CAU" alt="">
    <div class="biodata">
      <div [ngStyle]="{ color: text || '#CCC' }" class="username">
        {{user.username}}
      </div>
      <div [ngStyle]="{ color: text || '#CCC' }" class="latin">
        {{ user.latin_name }} ({{ user.chinese_name }})
      </div>

      <div [ngStyle]="{ color: text || '#CCC' }" class="latin">
        {{ user.no_anggota }}
      </div>
      <mat-select class="theme" [ngStyle]="{ color: text || '#CCC' }" (selectionChange)="onSelectTheme($event)" placeholder="Pick a theme" [(ngModel)]="theme">
        <mat-option *ngFor="let value of themes" [value]="value.id">
          {{value.name | titlecase}}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div *ngIf="calendar" class="calendar">       
    <div class="month">
      {{months[month - 1]}} {{calendar.year}}
      <div class="icon-arrow">
        <button [disabled]="month == 1" (click)="changeMonth(-1)" mat-icon-button>
          <mat-icon marRipple>chevron_left</mat-icon>
        </button>
        <button [disabled]="month == 12" (click)="changeMonth(1)" mat-icon-button>
          <mat-icon marRipple>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <span *ngFor="let d of emptyDay" class="day">
      {{' '}}
    </span>
    <span 
      class="day" 
      (click)="onOpenFormEvent(calendar, month, day)" 
      [matTooltip]="calendar.calendar[month][day].length <= 1 ? calendar.calendar[month][day].length + ' event' : calendar.calendar[month][day].length + ' events'" 
      [ngClass]="{ isEvent: calendar.calendar[month][day].length > 0 }" 
      appWeekend 
      [year]="calendar.year" 
      [month]="month" 
      [day]="day" 
      [event]="calendar.calendar[month][day].length"
      *ngFor="let day of objectKeys(calendar.calendar[month])">
      {{day}}
    </span>
  </div>

  <div class="banner">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of dynamicSlides; let i = index">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>